:root {
    --dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --txt-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.flex-items {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.accordion-img {
    background-image: url(images/bg-pattern-mobile.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Accordion section  */

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h2 {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.accordion {
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 0;
    width: 90%;
    padding: 30px;
  }
  
  .active, .accordion:hover {
    background-color: #f0f0f0;
    
  }
  
  .accordion:after {
    content: url(images/icon-arrow-down.svg); width: 1px;
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    
  }
  
  .active:after {
    content: url(images/icon-arrow-down.svg); width: 1px; transform: rotate(180deg);
    color: black;
    
  }
  
  .panel {
    padding: 0 18px;
    background-color: rgb(0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 90%;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    
  }

  .panel p {
    padding: 15px 10px;
  }
