* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color:hsl(273, 75%, 66%);
}

.flex-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    min-height: 70%;
    gap: 30px;
}

.accordion-img {
    background-image: url(images/bg-pattern-desktop.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    position: relative;
}

.accordion-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-one {
    width: 200px;
    position: absolute;
    left: -120px;
    top: -50px;
    z-index: 1;
}
.img-two {
    width: 200px;
    position: absolute;
    bottom: -90px;
    left: -40px;
    width: 300px;
}

.img-three {
    display: none;
}

/* Accordion section  */

article {
    width: 400px;
    display: flex;
    flex-direction: column;
}

article h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}

.accordion {
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 0;
    width: 90%;
    padding: 10px 20px 10px 0px;
  }
  
  .active, .accordion:hover {
    color:  hsl(14, 88%, 65%);
    
  }

  .active {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
  }
  
  .accordion:after {
    content: url(images/icon-arrow-down.svg); width: 1px;
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    
  }
  
  .active:after {
    content: url(images/icon-arrow-down.svg); width: 1px; transform: rotate(180deg);
    color: black;
    
  }
  
  .panel {
    background-color: rgb(0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 90%;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    
  }

  .panel p {
    padding: 15px 0px 15px 0px;
  }

  
.attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}

  /* media query */

  @media screen and (max-width: 880px) {

    .flex-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 90%;
        border-radius: 10px;
        min-height: 70vh;
        position: relative;
    }
    
    h1 {
        text-align: center;
    }

    .img-one, .img-two {
        display: none;
    }

    .img-three {
        display: block;
        position: absolute;
        bottom: -10px;
    }

    .flex-container {
        min-height: 150%;
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
      .accordion-img {
        width: 50%;
      }
    
}

    